.KInput, .KLightInput {
    border-radius: 5px;
    margin: 3px;
    min-height: 30px;
    accent-color: var(--accentColor);
    transition: filter .2s;
}

.KInput {
    background-color: var(--inputBackgroundColor);
    color: var(--alternateTypeColor);
    border: 1px solid var(--mainTypeColor);
    grid-column: span 4;
}

.KLightInput {
    color: var(--light);
    border: 1px solid var(--mainTypeColor);
    
}

.KInput:hover, .KRadio:focus-within {
    filter: brightness(1.25);
}

.KSelect {
    padding-right: 10px;
}

.KInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.KRadio {
    transform: scale(1.5);
    margin-right: 5px;
}

.KInputContainer label {
    min-width: 100px;
}

.KCheckbox {
    transform: scale(1.5);
}

.KButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 25px;
    border: none;
    width:100%;
    transition: .2s;
    grid-column: span 2;
}

.KButton.KLightInput {
    border: 2px solid;
}

.KButton>span {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px;
    border-radius: 25px;
}

.KButton:hover {
    box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.7);
}

.KButton:active {
    transform: scale(.9, .9);
}

.KButton.three-d {
    position:relative;
}

.KButton:hover {
    filter: brightness(100%);
}

.KButton.three-d span {
    background-color: var(--accentColor);
    margin-top: -20px;
    filter: brightness(135%);
    transition: .2s;
}

.KButton.three-d:active {
    transform: scale(1);
}

.KButton.three-d:active span {
    margin-top: -5px;
}