.KInput, .KLightInput {
    border-radius: 5px;
    margin: 3px;
    min-height: 30px;
    accent-color: var(--accentColor);
    transition: filter .2s;
}

.KInput {
    background-color: var(--inputBackgroundColor);
    color: var(--alternateTypeColor);
    border: 1px solid var(--mainTypeColor);
}

.KLightInput {
    color: var(--light);
    border: 1px solid var(--mainTypeColor);
    
}

.KInput:hover, .KRadio:focus-within {
    filter: brightness(1.25);
}

.KSelect {
    padding-right: 10px;
}

.KInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.KRadio {
    transform: scale(1.5);
    margin-right: 5px;
}

.KInputContainer label {
    min-width: 100px;
}

.KCheckbox {
    transform: scale(1.5);
}

.KButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 8px;
    border-radius: 25px;
    border: none;
    min-width: 48px;
}

.KButton:hover {
    box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.7);
}

.KButton:active {
    transform: scale(.9, .9);
}