/* Import icons from Google Fonts for now */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

body {
    margin: 0;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  

  body::-webkit-scrollbar {
    display: none;
}

.app {
    display: flex;
    flex-direction: column;
}

.main {
    display: block;
    min-height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--BackgroundColor);
    color: var(--mainTypeColor);
    padding: 0 10%;
}

* {
    margin: 0;
    padding: 0;
}

.KIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-drag: none;
    user-select: none;
    font-size: 32px;
}

.KColorSwatch {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

.KLoader {
    fill: none;
    stroke: var(--accentColor);
    stroke-width: 5px;
    animation: loader-spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loader-spin {
    100% {transform: rotate(360deg);}
}

.KGrid.demo-only {
    width: 100%;
    background-color: var(--accentColor);
    padding: 20px;
}

.KGrid.KGrid.demo-only p {
    background-color: white;
    height: 48px;
}

.KCodeBlock {
    font-size: 1.5rem;
    background: var(--containerBackgroundColor);
    border-radius: 10px;
    padding: 2rem;
}

.ILoveHue {
    min-height: 700px;
    position: relative;
}

.ILoveHue .win {
    position: absolute;
    top: -1000px;
}

.ILoveHue .win.show {
    top: 300px;
}

.ILoveHue .win svg{
    transform: scale(0);

    transition: 1s;
}

.ILoveHue .win.show svg {
    transform: scale(8);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}